TimeStamp: {{timestamp}}
{{#values.form__identify-suspect}}
First name: {{first-name}}
Last name: {{last-name}}
{{#alternative-name--data}}
Alias first name: {{alternative-name--first-name}}
Alias last name: {{alternative-name--last-name}}
{{/alternative-name--data}}
{{/values.form__identify-suspect}}